.Card {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 5px;

    .Header {
        display: flex;
        justify-content: center;

        .Title {
            flex: 1;
            padding: 5px;
        }
    }

    .Content {
        padding: 20px;
    }
}

.Red {
    color: #FFF;
    background-color: #c62828;

    .Content {
        background-color: #f44336;
    }
}

.Green {
    color: #FFF;
    background-color: #2e7d32;

    .Content {
        background-color: #26a82b;
    }
}

.Blue {
    color: #FFF;
    background-color: #0b2849;

    .Content {
        background-color: #1565c0;
    }
}

.Purple {
    color: #FFF;
    background-color: #6A1B9A;

    .Content {
        background-color: #9c27b0;
    }
}

.Yellow {
    color: rgb(0, 0, 0);
    background-color: #ddda10;

    .Content {
        background-color: #bdc015;
    }
}
